:root {
    color-scheme: light dark;
}

header {
    margin-bottom: 0px;
}

header h1 {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
    padding-bottom: 0.5rem;
}

main img {
    width: 720px;
    height: 400px;
    display: block;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
}

.race__days__today {
    color: rgba(20, 216, 20, 0.943);
}

.race__days__upcoming {
    color: rgba(216, 216, 20, 0.943);
}

p, h2, h3 {
    text-align: center;
}